In [1]:
!pip install selenium
!pip install webdriver_manager

Requirement already satisfied: selenium in c:\users\trive\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\trive\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\trive\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\trive\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\trive\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\trive\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\trive\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\trive\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\trive\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\trive\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\trive\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\trive\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\trive\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\trive\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\trive\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\trive\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver_manager in c:\users\trive\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: requests in c:\users\trive\anaconda3\lib\site-packages (from webdriver_manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\trive\anaconda3\lib\site-packages (from webdriver_manager) (0.21.0)
Requirement already satisfied: packaging in c:\users\trive\anaconda3\lib\site-packages (from webdriver_manager) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\trive\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\trive\anaconda3\lib\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\trive\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\trive\anaconda3\lib\site-packages (from requests->webdriver_manager) (2023.7.22)

In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [3]:
#Define options and set browser capabalities
options=webdriver.ChromeOptions()
#options.add_argument('-----same-option')

In [4]:
#create webdriver instance with options
driver=webdriver.Chrome(options=options)

In [5]:
#Navigate to a website
driver.get("https://www.myntra.com/")

In [6]:
search=driver.find_element(By.XPATH,".//input[@class='desktop-searchBar']")

In [7]:
search.send_keys("Cardigan Tops")

In [8]:
search.send_keys(Keys.ENTER)

In [14]:
brand=driver.find_elements(By.XPATH,".//h3[@class='product-brand']")
brands=[i.text for i in brand]

In [15]:
print(brands) 
print(len(brands))

['JoE Hazel', 'JoE Hazel', 'JoE Hazel', 'Tokyo Talkies', 'Tokyo Talkies', 'Roadster', 'Tokyo Talkies', 'LULU & SKY', 'Ardene', 'LULU & SKY', 'Roadster', 'Roadster', 'Roadster', '4WRD by Dressberry']
14

In [16]:
prod=driver.find_elements(By.XPATH,".//h4[@class='product-product']")
product=[i.text for i in prod]
print(product)
print(len(product))

['Woman Pink Cardigan', 'Woman Green Cardigan', 'Woman Black Cardigan', 'Crop Top With Cardigan', 'Crop Top With Cardigan', 'Solid Cardigan Set', 'Crop Top With Cardigan Sweater', 'Crop Top With Cardigan', 'Cardigan Style Crop Top', 'Mandarin Collar Cardigan Top', 'Solid Cardigan Set', 'Solid Cardigan Set', 'Solid Cardigan Set', 'Crop Top With Cardigan']
14

In [17]:
pri=driver.find_elements(By.XPATH,".//span[@class='product-discountedPrice']")
price=[i.text for i in pri]
print(price)
print(len(price))

['Rs. 699', 'Rs. 699', 'Rs. 699', 'Rs. 1956', 'Rs. 1399', 'Rs. 1079', 'Rs. 1549', 'Rs. 1856', 'Rs. 1899', 'Rs. 1681', 'Rs. 719', 'Rs. 839', 'Rs. 1079', 'Rs. 999']
14

In [18]:
df=pd.DataFrame(columns=['Brand','prod','price'])
df

Empty DataFrame
Columns: [Brand, prod, price]
Index: []

In [19]:
df['Brand']=brands
df['prod']=product
df['price']=price

In [20]:
df

                 Brand                            prod     price
0            JoE Hazel             Woman Pink Cardigan   Rs. 699
1            JoE Hazel            Woman Green Cardigan   Rs. 699
2            JoE Hazel            Woman Black Cardigan   Rs. 699
3        Tokyo Talkies          Crop Top With Cardigan  Rs. 1956
4        Tokyo Talkies          Crop Top With Cardigan  Rs. 1399
5             Roadster              Solid Cardigan Set  Rs. 1079
6        Tokyo Talkies  Crop Top With Cardigan Sweater  Rs. 1549
7           LULU & SKY          Crop Top With Cardigan  Rs. 1856
8               Ardene         Cardigan Style Crop Top  Rs. 1899
9           LULU & SKY    Mandarin Collar Cardigan Top  Rs. 1681
10            Roadster              Solid Cardigan Set   Rs. 719
11            Roadster              Solid Cardigan Set   Rs. 839
12            Roadster              Solid Cardigan Set  Rs. 1079
13  4WRD by Dressberry          Crop Top With Cardigan   Rs. 999

In [24]:
df.to_csv("df.csv")